/* https://tailwindcss.com/docs/customizing-colors */
:root {
  --pink: #F8DFDF;
  --lpink: #FFF2F2;
  --blue: #9AC3EA;
  --red: #F8AEAE;
  --green: #9CE48A;
  box-sizing: border-box
}

/* Import noto sans, noto serif, playfair display fonts */
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@600&display=swap');

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  min-height: 100vh;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
  text-align: center;
  margin: 40px 30px 0 30px;
  border-bottom: #000000 solid 5px;
}

.header > span {
  color: var(--blue);
}

.sidebar > p {
  margin: 20px 30px 10px 30px;
  font-family: 'Noto Serif', serif;
  font-size: 12px;
}

.sidebar > p:last-of-type {
  margin-top: 0px;
}

.sidebar > button {
  display: flex;
  align-self: center;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  margin: 50px 0;
  background-color: var(--blue);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  cursor: pointer;
}

.sidebar > button:hover {
  background-color: #77aee2;
}

.sidebar > button:active {
  background-color:#479ae7;
}

.main-content {
  padding: 30px 40px;
}

.main-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-color: var(--blue);
  height: 300px;
  padding: 30px;
  display: grid;
}

.book-title {
  padding: 0;
  margin: 0 0 5px 0;
  color: white;
  font-family: 'Noto Serif', serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.card p {
  padding: 0;
  margin: 0;
}

p.book-author {
  font-family: 'Noto Serif', serif;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

p.book-description {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 20px;
  color:rgba(0, 0, 0, 0.75);
  line-height: 1.3rem;
  overflow: auto;
}

.card-footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  align-self: end;
}

.card-footer > p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  color:rgba(0, 0, 0, 0.75);
}

.red-button {
  background-color: var(--red);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: .1rem;
  color:rgba(0, 0, 0, 0.75);
}

.green-button {
  background-color: var(--green);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: .1rem;
  color:rgba(0, 0, 0, 0.75);
}

.form {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
}

.form-header {
  font-size: 1.3rem;
  font-weight: 600;
  color:#000000cc;
  margin-bottom: 10px;  
  padding-bottom: 3px;
  border-bottom: #000000cc solid 3px;
}

.form-container label, button {
  margin-top: 10px;
}

.form-container input {
  padding: 3px 5px;
}

.form-container button[type="submit"], .form-container button[type="button"] {
  background-color: var(--green);
  border: none;
  border-radius: .5rem;
  padding: 10px 0;
}

.form-container button[type="button"] {
  background-color: var(--red);
}
